body  {
	font-family: 'Raleway', sans-serif;
	background: #FFF8E1;
    background: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
main {
	width: auto;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-table {
    background: #fff;
	display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: url(img/table.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 1px 1px 15px 3px rgba(0,0,0,.7);
}
.play-table .cell {
	width: 139px;
	height: 139px;
	border-bottom: 1px dotted  #333;
	border-right: 1px dotted  #333;
	cursor: pointer;
}
.play-table .cell:last-child{
	border-bottom: none;
}
.play-table .line:last-child .cell {
	border-right: none;
	padding-right: 1px;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.play-table .cell.x,
.play-table .cell.o {
	font-weight: 700;
	font-size: 120px;
	line-height: 120px;
	text-align: center;
	position: relative;
	cursor: default;
}

.play-table .cell.x:after,
.play-table .cell.o:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    content: "";
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 1;
}
.play-table .cell.x:after {
	background: url(img/cross-symbol.svg) no-repeat center;
    background-size: 60%;
}
.play-table .cell.o:after {
	background: url(img/circumference.svg) no-repeat center;
    background-size: 60%;
}

@keyframes heighting {
  from {
    width: 0;
  }

  to {
    width: 110%;
  }
}

@keyframes heighting {
  from {
    height: 0;
  }

  to {
    height: 110%;
  }
}

@keyframes digHeighting {
  from {
    height: 0;
    background: transparent;
  }
  3% {
    height: 155%;
  }

  to {
    background: linear-gradient(-45deg,#7840f0 41%, #24a1d3 76%, #1ec0bb 84%);
  }
}

.line.win,
.cell.win-gor-line,
.play-table.win-left-diagonal,
.play-table.win-right-diagonal {
    position: relative;
}
.line.win:before,
.cell .win-line,
.play-table.win-left-diagonal:before,
.play-table.win-right-diagonal:before {
    position: absolute;
    content: '';
    background: linear-gradient(-45deg,#7840f0 41%, #24a1d3 76%, #1ec0bb 84%);
    border-radius: 5px; 
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.play-table.win-left-diagonal:before,
.play-table.win-right-diagonal:before {
    height: 155%;
    width: 10px;
    top: -27%;
    left: 50%;
    margin-left: -5px;
    -webkit-animation-name: digHeighting;
    animation-name: digHeighting;
}
.play-table.win-left-diagonal:before{
    transform: rotate(-45deg);
}
.play-table.win-right-diagonal:before{
    transform: rotate(45deg);
}
.line.win:before {
    height: 110%;
    width: 10px;
    top: -5%;
    left: 50%;
    margin-left: -5px;
    -webkit-animation-name: heighting;
    animation-name: heighting;
}
.win-line {
    height: 10px;
    width: 0;
    top: 50%;
    left: -13%;
    margin-top: -5px;
}

/* popup */

.popup {
	position: absolute;
    background: rgba(0,0,0,.9);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.popup-container {
	width: 50%;
    position: absolute;
    top: 50%;
    margin-top: -195px;
    height: 390px;
    background: #1f1f1f;
    left: 25%;
}
h1 {
	text-align: center;
    margin: 0;
    padding: 30px 0;
    font-size: 23px;
    font-weight: 500;
    color: #fff;
}
input {
	display: block;
    width: 70%;
    height: 35px;
    line-height: 25px;
    color: #fff;
    background: #424141;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all .25s ease-in;
}
input:focus {
	background: #2e2e2e;
}
button.save {
	background: linear-gradient(-45deg,#7840f0 41%, #24a1d3 76%, #1ec0bb 84%);
	color: #fff;
    border: none;
    line-height: 40px;
    padding: 0 25px;
    border-radius: 24px;
    font-size: 19px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0,0,0,.3);
    transition: all .25s ease-in;
}
button.save:hover {
	box-shadow: 1px 1px 15px 3px rgba(0,0,0,.5);
}
.save-massege-first,
.save-massege-srcond {
	margin: 0;
    color: #fff;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.winner-popup {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.win-bg {
    background: url(img/win.gif);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .6;
    background-size: 100%;
}

.winner-popup-item {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #1f1f1f;
    box-shadow: 1px 1px 15px 3px rgba(0,0,0,.7);
    box-sizing: border-box;
    padding: 40px;
    width: 45%;
    text-align: center;
    color: #fff;
    font-size: 25px;
    width: 450px;
    margin-top: -132px;
    margin-left: -225px;
}
.winner-popup-item p {
    margin: 10px 0 20px;
}
.replay {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button.cancel {
    background: #424141;
    color: #fff;
    border: none;
    line-height: 40px;
    padding: 0 25px;
    border-radius: 24px;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0,0,0,.3);
    transition: all .25s ease-in;
}
button.cancel:hover {
    background: #2e2e2e;
}
/* end popup */

h2 {
	text-align: center;
	margin: 0;
	line-height: 30px;
    font-size: 25px;
    color: #c4c2c2;
    padding-bottom: 10px;
    display: none;
}

